<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Login</p>
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                    class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input formControlName="usernameOrEmail" type="email" id="form1Example13"
                            class="form-control form-control-lg" placeholder="Username or Email" />
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input formControlName="password" type="password" id="form1Example23"
                            class="form-control form-control-lg" placeholder="Password" />

                    </div>



                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>



                </form>
            </div>
        </div>
    </div>
</section>